/* Main Navbar styling */
.navbar {
    background-color: #fff;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  /* Search Bar */
  .search-container {
    display: flex;
    align-items: center;
    max-width: 600px;
    flex-grow: 1;
  }

  .search-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-right: 10px;
  }

  .search-button {
    background-color: #f67c01;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }

  .search-button:hover {
    background-color: #e56500;
  }

  /* Navbar Links */
  .navbar-links {
    display: flex;
    align-items: center;
  }

  .navbar-link {
    color: #333;
    text-decoration: none;
    margin-left: 15px;
    font-size: 1rem;
    display: flex;
    align-items: center;
  }

  .navbar-link:hover {
    color: #f67c01;
  }

  .cart-icon {
    display: flex;
    align-items: center;
  }

  .cart-icon-text {
    margin-left: 5px;
  }
